
<div class="flex-1 min-w-0 w-full h-full overflow-y-auto px-4" style="overflow-x: clip;" data-inbox-target="detail">
  <% if @first_issue %>
    <%= render partial: "detail", locals: { issue: @first_issue, journals: @journals } %>
  <% else %>
    <p>Aucune demande assignée</p>
  <% end %>
</div>
