<!-- Colonne du milieu : liste -->
<div class="flex-none basis-[350px] shrink-0  overflow-auto shadow-xs border-r border-gray-100" data-inbox-target="list">
  <%= render partial: "list", locals: { issues: issues } %>
</div>